.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #383c48;
    overflow-x: hidden;
    padding-top: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}
  
.sidenav a {
    padding: 16px 6px 0px 32px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #ffffff;
    display: block;
}

.dropdown-item{
    letter-spacing: 0.5px;
}

.sidenav a:hover {
    color: #ffbd3d;
}

hr{
    border-top: 1px solid #ffffff !important;
    margin-right: 1.5rem;
}

i{
    margin-right: 8px;
}

.navbar-toggler{
    border:none;
}

.main {
    margin-left: 250px;
}

.card-body{
    padding: 1.25rem 1.25rem 0rem;
}

.card-body .col-6 {
    border-top: 1px solid #b1b5bb;
    padding: 15px; 
}

.card-body .col-6 a {
    text-decoration: none;
    color: #1f2837;
    letter-spacing: 0.5px;
}

.card-body .col-6:hover {
    color: #333333;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* .card-body .col-6 a:hover::after {
    content: " \f5b0";
} */

.card-body .right-border {
    border-right: 1px solid #b1b5bb;
}

.card-title-img {
    margin-left: 32%;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 1px solid #f1ca8d;
    background-color: #ffefe0;
    color: #f1ca8d;
    box-shadow: 0 7px 20px rgb(0,0,0,.1);
}

.card-title-img:hover {
    box-shadow: 0 1px 20px rgb(255, 239, 224);
}

.card-text {
    color: #c6c5c8;
}

.card-h5 {
    margin-bottom: 1px;
}

.star-rating {
    padding: 16px 0px 32px;
    font-size: 16px;
    font-weight: 400;
}

.checked {
    color: orange;
}

.main-body {
    padding: 1.25rem;
    margin-left: 250px;
    background: #e3e7ed;
    height: 100%;
    top: 0;
    bottom: 0;
}

.main-body .showcard {
    display: flex;
    flex-wrap: wrap;
}

.main-body .next:hover::before{
    content: "<< ";
}
.main-body .prev:hover::after{
    content: " >>";
}

.btn-val {
    border-right: 2px solid #7c7c7c; 
}

.btn-val:hover{
    border-right: none;
}

.btn-group {
    text-align: center;
}

.btn-color{
    background: #b1b5bb;
}

.btn-color:hover {
    border: none;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 1px 25px rgba(0,0,0,.3);
}

.dropdown-menu {
    top: 80%;
    left: 83%;
}

.card {
    display: flex;
    margin: 1.25rem;
    transition: transform .1s;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.3);
}

.active {
    color: #ffbd3d !important;
}

/* .showcard:hover .card{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
}

.showcard:hover .card:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
} */

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}