
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="./style.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
                <input v-model="userInput" type="text">
                <button v-if="status" v-on:click="addTask(userInput)" type="button">ADD</button>
                <button v-if="status == false" v-on:click="updateTask(userInput)" type="button">UPDATE</button>
            <ul>
                <li v-for="(item, index) in items">{{item}} <button v-on:click="removeTask(index)" type="button">REMOVE</button><button v-on:click="editTask(index)" type="button">EDIT</button></li>
            </ul>
        </div>
        <script src="./script.js"></script>
    </body>
</html>