
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="styles.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
                <input v-model="userInput" type="text">
                <button v-on:click="addTask(userInput)" type="button">ADD</button>
                <button v-on:click="removeTask()" type="button">REMOVE</button>
            <ul>
                <li v-for="item in items">{{item}}</li>
            </ul>
        </div>
        <script src="/home/nirmal/projects/learn-vue/Vuejs/script.js"></script>
    </body>
</html>